<h1>
	hi there, click the button to get new movie recommendations.
</h1>
<form action="/result" method="GET">
	<button type="submit">
		search for movies.
	</button>
</form>

<form action="/" method="GET">
	<button type="submit">
		click this and then click search for new movies.
	</button>
</form>