
<link rel="stylesheet" href="css/search.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


	

<form action="/result" method="GET" class="background">
	<h1 class="head1">
		Hi there, click the button to get new movie recommendations
	</h1>
	<button type="submit" id='btn'>
		search for movies
	</button>
</form>


